.navbar {
    background-color: $color-primario;
    /*background-image: $gradiente*/
    .navbar__div {
        .navbar-brand img {
            animation: floatAnimation 2s infinite;
          }
    }
}
.header{
    .header__nav {
        .header__nav__ul {
            list-style-type: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .navbar .nav-link {
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 576px) {
    .navbar .nav-link {
        font-size: 1rem;
    }
}
@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0);
    }
  }