    /* estilos de pagina galeria */

    /*
    .divGaleria {
        width: 30%;
        max-height: 30vh;
        object-fit:cover
    }
    */
    .backgroundFondo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../assets/img/backgroundGaleria.jpg);
        background-size:cover;
        }
        