    /* estilos de pagina galeria */

    /*
    .divGaleria {
        width: 30%;
        max-height: 30vh;
        object-fit:cover
    }
    */
    .backgroundFondo {
        /*display: flex;
        align-items: center;
        justify-content: center;*/
        background-image: url(../assets/img/backgroundGaleria.jpg);
        background-size:cover;
        @include flexbox (row,center,center)
        }
    .backgroundFondo1 {
        background-image: url(../assets/img/cuadrosPresentados/PARED.jpg);
    }
    .contenedorImagen1 {
        width: 400px;
        max-height: 500px;
       /*height: auto;*/
        object-fit: cover;
        overflow: hidden;
    }
    .contenedorImagen2 {
        width: 600px;
        max-height: 500px;
        /*height: auto;*/
        object-fit: cover;
        overflow: hidden;
    }
    .contenedorImagen3 {
        width: 500px;
        max-height: 500px;
        /*height: auto;*/
        object-fit: cover;
        overflow: hidden;
    }

    