/* estilos de pagina eventos */

.main {
    /*.main__h1{
        text-decoration: underline;
        font-weight: 500;
    }*/
    .main__div{
        .main__div__div {
            width: 50vh;
            height: 400px;
        }
    }
}
.card {
    width: $width-400px;
}