*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $tipografia-general;
    background-color: $color-primario;
    /*background-image: linear-gradient(to left top, #154389, #0076a9, #00a4ac, #7acda7, #ddf0b2);*/
    height: auto;
    /*background-image: $gradiente   */
}