/*crear variables*/
$color-primario: #FFFDF6;
$color-secundario: rgb(167, 232, 167);
$color-texto: #666;
$color-blanco:white;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$fuente-normal: 2rem;
$fuente-pequena: 1.5rem;
$fuente-grande: 3rem;

$tipografia-general: "Montserrat", sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

$fuente-grosor-h1: 500;
$fuente-grosor-p: 400;

$width-100: 100%;
$width-400px: 400px;



